.home h1 {
    font-size: 4rem;
    color:#fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 30rem;
    /* margin-top: 10rem; */
    font-weight: bolder;
    padding-top: -4;
    padding-bottom: -55rem;
}
.home p {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: -30rem;
    padding-top: -2rem;
}
.home {
    background-image: url("./images/image.png");
    background-size: cover;

    padding: 15rem 2rem;
}
.home img {
    margin-left: 40rem;
    height: 100%;
    max-width: 40rem;
}
.services {
    background-color: #FAEDCA;
    padding-top: 5rem;
}
.services h1 {
    text-align: center;
    color:blue;
    font-family: cursive;
    font-size: 3rem;
}
.services p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 5rem;
}
form {
    font-size: 20px;
    text-align: justify;
}
.container-fluid {
    background-image: url("./images/nnn.jpeg");
    background-size: cover;
    position: relative;
    top: -15px;
}
.container h1 {
    text-align: center;

    color: hsl(56, 100%, 50%);
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5rem;
}
.card {
    border-radius: 47px;
    box-shadow: turquoise;
    width: 30%;
}
.card h5 {
    font-size: 2rem;
    font-family: fantasy;
    color: violet;
    text-align: center;
}
.card .form-group label {
    color: red;
}
.cotacts h1 {

}