.home h1 {
    font-size: 4rem;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 30rem;
    /* margin-top: 10rem; */
    font-weight: bolder;
}
.home {
    background-color: #f5a465;
    background-size: cover;
    padding-top: 0;
    
}
form {
    font-size: 20px;
    text-align: justify;
}
.container-fluid {
    background-image: url("./nnn.jpeg");
    background-size: cover;
    position: relative;
    top: -15px;
}
.container h1 {
    text-align: center;
    
    color: hsl(56, 100%, 50%);
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5rem;
}
.card {
    border-radius: 47px;
    box-shadow: turquoise;
    width: 30%;
}
.card h5 {
    font-size: 2rem;
    font-family: fantasy;
    color: violet;
    text-align: center;
}
.card .form-group label {
    color: red;
}